<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample Braintree payment system app</h1>

  <h2>
    This is the home page for the sample braintree payment system with ruby
  </h2>
  
</div>