<footer class="footer">
	<small>
		<a href="http://algofast.com/">AlgoFast Website</a>
		by Michael Hartl
	</small>
	<nav>
		<ul>
		  <li><%= link_to "About",   about_path %></li>
		  <li><%= link_to "Contact Us", contact_path %></li>
		  <li><a href="http://algofast.com/">AlgoFast Website</a></li>
		</ul>
	</nav>
</footer>