<div class="center">  
	<textarea align="center" style="background:black;">If the [EVENT] is [>, <, =] the [EXPECTED VALUE], I will [BUY/SELL] [QTY] shares of [SYMBOL] with a Limit order.</textarea>
</div><br/>