<%= render 'logic_text_area' %>

<!-- order info -->
<%= render 'order', :f => f %>

<br/><br/>
<div align="right">
	<%= link_to "Back", :back, class: "btn btn-default" %>
	<%= link_to "Next", "#", class: "btn btn-primary" %>
</div>