<%= provide(:title, 'Strategy create confirmation') %>
<div class="row">  
      <h1> Strategy Details </h1>
      <p>
      	Strategy record JSON:
        <%= @strategy.to_json %>        
      </p>  
</div>