<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample Strategy Builder App</h1>

  <h2>
    This is the home page for the sample strategy builder application.
  </h2>

  <%= link_to "Create Sample Strategy!", new_strategy_path, class: "btn btn-large btn-primary" %>
</div>